<div mat-dialog-content class="basic-colors">
  <div class="flex-row w-100" style="justify-content: space-evenly;">
    <div>
      <input id="male" type="radio" value="MOVE" name="action" (change)="changeAction($event.target.value)">
      <label for="male">Move</label>
    </div>
    <div>
      <input id="female" type="radio" value="COPY" name="action" (change)="changeAction($event.target.value)"checked>
      <label for="female">Copy</label>
    </div>
  </div>

  <mat-form-field style="width: 100%;">
    <mat-label class="basic-colors">Roles</mat-label>
    <mat-select [formControl]="containers" panelClass="custom-mat-select" (selectionChange)="setAnswerTeam()">
      <mat-select-trigger class="basic-colors">
        {{containers.value.title}}
      </mat-select-trigger>
      <mat-option *ngFor="let container of taskContainers" [value]="container" class="basic-colors">
        {{container.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="basic-colors flex-row">
  <button mat-button class="button" (click)="closeDialog()">Cancel</button>
  <button mat-button class="button" [mat-dialog-close]="this.answer" cdkFocusInitial>Save</button>
</div>
