<div class="container" style="font-size: 2vh;">
  <div style="text-align: center;">
    <div style="width: 100%;">

      <div>
        <input class="label-search" #trigger="matAutocompleteTrigger" [formControl]="labelsFormControl"
        [matAutocomplete]="autoUser">
      <select class="label-search-type" [(ngModel)]=selectedType>
        <option value="LABEL">LABEL</option>
        <option value="TECHNOLOGY">TECHNOLOGY</option>
      </select>
      </div>

      <mat-autocomplete #autoUser="matAutocomplete" style="width: 100%;"
        (optionSelected)="selectedLabel($event.option.value, trigger, autoUser)">
        <mat-option style="text-align: center;background-color: yellowgreen;" *ngIf="isLoading" class="is-loading">
          <i style="text-align: center;" class="fa fa-spinner fa-spin"></i>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option style="background-color: yellowgreen;" *ngFor="let label of filteredLabels" [value]=label>
            {{label.name}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>

    </div>
    <div class="label-list">
      <div class="label-box" *ngFor="let label of projectLabels">
        <div class="label-box-detail" >
          {{label.type}}
        </div>
        <div class="label-box-detail" >
          {{label.name}}
        </div>
        <div class="label-box-detail" >
          <mat-icon class="deletable" (click)="removeLabelFromProject(label)">
            delete_forever
          </mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
