@import '../../../../webkit.css';

.description-area {
    padding: 0;
    font-size: 3vh;
}
input {
    margin: 10px 0px;
    font-size: 3vh;
    padding: 0px;
}

.column {
    margin: 5px;
    flex: 1 1 auto;
}
.button-holder {
    display: flex;
    justify-content: flex-start;
}
.button-holder > button {
    margin: 2px;
    font-size: 3vh;
}
.form-content {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    max-height: 40vh;
    overflow-x: hidden;
    padding-right: 5px;
}
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgba(2, 2, 2, 0.5);
    border-radius: 4px;
  }
.form-content > textarea {
    min-height: 15vh;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }
