<div class="custom-dialog-container-content">
  <div class="column">
    <span mat-dialog-title style="text-align: center;">Create Task</span>
    <form #createForm="ngForm" (ngSubmit)="closeDialog()">
      <div class="form-content">
        <input name="title" class="form-control black-focus" required type="text" ngModel required
          [(ngModel)]="task.title" #title="ngModel" placeholder="Title" />
        <div *ngIf="title.invalid && title.touched" style="margin: 10px;">
          Title is required.
        </div>
        <textarea [(ngModel)]="task.description" rows="4" name="description" class="form-control description-area"
          form="createForm" placeholder="Description...">
                    </textarea>


        <mat-form-field>
          <mat-chip-list #labelList>
            <mat-chip *ngFor='let label of taskLabels' [removable]="true" (removed)="removeLabel(label)">
              {{label}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input placeholder="Labels" #labelInput [formControl]="labelsCtrl" [matAutocomplete]="autoLab"
              [matChipInputFor]="labelList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addLabel($event)">
          </mat-chip-list>
          <mat-autocomplete #autoLab="matAutocomplete" (optionSelected)="selectedLabel($event)">
            <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
              {{label}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <mat-chip-list #technologyList>
            <mat-chip *ngFor='let technology of taskTechnologies' [removable]="true"
              (removed)="removeTechnology(technology)">
              {{technology}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input placeholder="Technologies" #technologyInput [formControl]="technologiesCtrl"
              [matAutocomplete]="autoTech" [matChipInputFor]="technologyList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTechnology($event)">
          </mat-chip-list>
          <mat-autocomplete #autoTech="matAutocomplete" (optionSelected)="selectedTechnology($event)">
            <mat-option *ngFor="let technology of filteredTechnologies | async" [value]="technology">
              {{technology}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="row-number-input">
          <span style="width: 100%;">
            Story Points
          </span>
          <input type="number" value="0" [(ngModel)]="task.storyPoints" name="storyPoints" value="0" min="0" max="100"
            class="number-input" required />
        </div>
        <div class="row-number-input">
          <span style="width: 100%;">
            Complexity
          </span>
          <input type="number" value="0" [(ngModel)]="task.complexity" name="complexity" value="0" min="0" max="10"
            class="number-input" required />
        </div>
        <div class="row-number-input">
          <span style="width: 100%;">
            Majority
          </span>
          <input type="number" [(ngModel)]="task.majority" name="majority" value="0" min="0" max="4"
            class="number-input" required />
        </div>
        <div class="row-number-input">
          <span style="width: 100%;">
            Type
          </span>
          <select [(ngModel)]="task.type" name="type">
            <option *ngFor="let type of taskTypes" [value]="type">
              {{type}}
            </option>
          </select>
        </div>
        <br>
        <div>
          <div class="row-number-input">
            <span style="width: 90%; align-content: center;">
              Deadline
            </span>
            <div style="display: flex; flex-direction: row;">
              <input style="text-align: right; font-size: 2vh;" name="deadline" matInput [matDatepicker]="picker"
                [(ngModel)]="task.deadline" width="0">
              <mat-datepicker-toggle matSuffix [for]="picker"
              style="padding: 0;"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </div>

          </div>
          <div class="row-number-input" style="margin-bottom: 20px;">
            <span style="width: 90%;">
              Steps
            </span>
            <mat-icon [inline]="true" style="width: 10%;text-align: right;font-size: 3vh;" (click)="addStep()">
              add_circle_outline
            </mat-icon>
          </div>
          <div style="max-height: 150px; overflow-y: auto;">
            <div *ngFor="let step of task.
                            steps">
              <div class="row-number-input" style="margin-bottom: 10px;">
                <textarea rows="2" value={{step.description}} (input)="updateStep($event.target.value,step.order)"
                  style="width: 100%;
                                     background-color: transparent;
                                     border: 0; border-bottom: solid 1px black;">
                                    </textarea>
                <mat-icon [inline]="true" style="width: 10%;text-align: right; font-size: 3vh;"
                  (click)="removeStep(step.order)">
                  remove_circle_outline
                </mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i *ngIf="requestInProgress" class="fa fa-spinner fa-spin" style="font-size:24px"></i>&nbsp;&nbsp;
      <span *ngIf="requestInProgress">Loading...</span>


    </form>
  </div>
</div>
<div class="button-holder">
  <button mat-dialog-close class="btn btn-dark w-100">Cancel</button>
  <button form="createForm" [disabled]="createForm.invalid || requestInProgress" *ngIf="!requestInProgress" type="submit"
    class="btn btn-dark w-100">Create</button>

</div>
