.login {
  text-align: center;
}
.name{
  text-align: center;
}
.contact-detail{
  padding: 0.2rem 0rem;
}
.contact-detail mat-icon{
  padding-right: 0.5rem;
}
.contact-detail i {
  padding-right: 0.5rem;
}
.mat-icon {
  vertical-align: middle;
}
input {
  background-color: transparent;
  color: ghostwhite;
  border: none;
  border-bottom: black solid 0.1rem;
  margin: 0.1rem;
}
.ordinar-photo:hover {
  cursor: unset;
}
.clickable-photo:hover{
  cursor: pointer;
  color: yellowgreen;
}
textarea.description {
  background-color: transparent;
  color: ghostwhite;
  border-color: black;
  min-height: 10em;
  flex-grow: 1;
  padding: 0;
  width: 100%;
}
.spec-box {
  padding: 1rem;
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  color: ghostwhite;
  background: #222222;
}

.spec-box span {
  margin: 0 1rem;
}

.spec-list {
  min-width: 50%;
  width: 100%;
  max-width: 100%;
  max-height: 10rem;
  border: solid 1px black;
  min-height: 60px;
  display: block;
  background: #222222;
  border-radius: 4px;
  overflow: hidden;
}
.star-achieved{
  color: yellowgreen;
}
