<form #loginForm="ngForm" (ngSubmit)="signIn(loginForm.value)">
    <div class="home-form-content-container">
        <input name="login" class="form-control black-focus" required type="text" ngModel required #login="ngModel" placeholder="Login"/>
        <div *ngIf="login.invalid && login.touched"
        class="home-form-alert">
            Login is required.
        </div>
        <input name="password" class="form-control" required type="Password" ngModel required #password ="ngModel" placeholder="Password"/>
        <div *ngIf="password.invalid && login.touched"
        class="home-form-alert">
            Password is required.
        </div>
        <i *ngIf="loadInProgress" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="loadInProgress">Loading...</span>
        <button [disabled]="loginForm.invalid || loadInProgress" *ngIf="!loadInProgress" type="submit" class="btn btn-dark w-100">Login</button>
    </div>
</form>
