<form #loginForm="ngForm" (ngSUbmit)="logIn(loginForm)">
    <div class="home-form-content-container">
        <input name="loginOrEmail" class="form-control black-focus" required type="text" ngModel required #loginOrEmail="ngModel" placeholder="Login or Email"/>
        <div *ngIf="loginOrEmail.invalid && loginForm.submitted"
        class="home-form-alert">
            Login or Email is required.
        </div>
        <input name="password" class="form-control" required type="Password" ngModel required #password ="ngModel" placeholder="Password"/>
        <div *ngIf="password.invalid && loginForm.submitted"
        class="home-form-alert">
            Password is required.
        </div>
        <button class="btn btn-dark w-100">Login</button>
    </div>
</form>
