<div class="page">
    <div class="form-container">
        <div class="button-container">
            <div (click)="loginView(true)"[class.active-button]="showLogin" class="home-button">
                Login
            </div>
            <div (click)="loginView(false)"[class.active-button]="!showLogin" class="home-button">
                Register
            </div>
        </div>
        <div class="choosed-form">
            <div *ngIf="showLogin; else registration"><app-login></app-login></div>
            <ng-template #registration><app-register></app-register></ng-template>
        </div>
    </div>
</div>
