.page{
  display: flex;
  justify-content: center;
  height: 100%;
  color:ghostwhite;
  background-color: #222;
}
.form-container{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
}
.button-container{
    display: flex;
    flex-basis: 5%;
    justify-content: center;
}
.home-button{
    flex-basis: 50%;
    text-align: center;
    padding: 0.5em;
    margin: 0.1em;
}
.active-button{
    background-color:yellowgreen;
}
.button-container :hover{
    cursor: pointer;
}
.choosed-form{
    flex-basis: 100%;
    display: flex;
    padding: 0.5em;
    margin: 0.1em;
    justify-content: center;
}
