<div class="basic basic-colors-reverse xp-container-field">
  <button (click)="draw()">
    Draw
  </button>
  <ngx-graph class="chart-container"
  [showMiniMap]="true" [nodes]=nodes
  [links]=links [update$]=update$ [curve]=curve>
    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" style="fill:#222" />
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height/2" style="fill:ghostwhite">
          {{node.data.title}}</svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
