  table {
   width: 100%;
  }
  .table-header{
    text-transform: capitalize; 
  }
  mat-header-cell{
    text-transform: capitalize; 
  }
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-description {
    padding: 16vh 16vw;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .detail-container-element{
      padding: 1vh 0;
      display: flex;
  }
  .detail-element-title{
    text-transform: capitalize; 
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */    
    flex-basis: 8em; /* width/height  - initial value: auto */
  }

  .detail-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #333;
      border: solid #333 0px;
      border-radius: 10px;
      padding: 0 1vw;
      margin: 1vh 0;
      font-size: 0.8em;
  }