.custom-dialog-container-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
input {
    margin: 10px 0px;
    font-size: 2vh;
    padding: 0px;
}

.column {
    margin: 5px;
    flex: 1 1 auto;
}
.button-holder {
    display: flex;
    justify-content: flex-start;
}
.button-holder > button {
    margin: 2px;
    font-size: 2vh;
}
.date-input {
  text-align: right;
  background-color: transparent;
  border: none;
}
.date-submodule{
  width: fit-content;
  justify-self: right;
  align-self: flex-end;
  padding: 0;
  margin: 0;
}
