<div class="container">
  <div style="display: flex; flex-direction: row;">
    <h5 *ngIf="editedTeam==null" class="title">
      {{teamWithUsers.title}}
    </h5>
    <h5 *ngIf="editedTeam!=null" contenteditable class="title" [(textContent)]="editedTeam.title"
    (input)="editedTeam.title = $event.target.innerText">
      {{editedTeam.title}}
    </h5>
    <div class="editable" *ngIf="editedTeam==null" style="display: flex; flex-direction: column;" >
      <mat-icon (click)="startEditTeam()">
        edit
      </mat-icon>
    </div>
    <div class="editable" *ngIf="editedTeam!=null" style="display: flex; flex-direction: column;">
      <mat-icon class="editable" (click)="saveEditTeam()">
        done
      </mat-icon>
      <mat-icon class="editable" (click)="cancelEditTeam()">
        cancel
      </mat-icon>
    </div>
  </div>
  <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap-reverse;">
    <div style="display: flex; flex-direction: column;padding-left: 0.5rem;flex-grow: 1; ">
      <textarea *ngIf="editedTeam==null" class="description" [ngModel]="teamWithUsers.description" disabled></textarea>
      <textarea *ngIf="editedTeam!=null"  class="description" [(ngModel)]="editedTeam.description"></textarea>
      <div style="margin-top: 1rem;">
        <div class="info-chip">
          Created By: <mat-chip *ngIf=teamWithUsers.createdBy>{{teamWithUsers.createdBy}}</mat-chip>
        </div>
        <div class="info-chip">
          Creation Date: <mat-chip *ngIf=teamWithUsers.creationDate>{{teamWithUsers.creationDate | date: 'MMMM d, y HH:mm' }}
          </mat-chip>
        </div>
        <div class="info-chip">
          Modified By: <mat-chip *ngIf=teamWithUsers.modifiedBy>{{teamWithUsers.modifiedBy}}</mat-chip>
        </div>
        <div class="info-chip">
          Modification Date: <mat-chip *ngIf=teamWithUsers.modificationDate>
            {{teamWithUsers.modificationDate | date: 'MMMM d, y HH:mm' }}</mat-chip>
        </div>
      </div>
    </div>
    <div style="flex-grow: 1; padding-left: 0.5rem; padding-bottom: 0.5rem;">
      <div style="display: flex; flex-direction: column;">
        <div style="text-align: center;">
          ADD USER
        </div>
        <div>
          <input class="user-search" #trigger="matAutocompleteTrigger" [formControl]="userFormControl"
            [matAutocomplete]="autoUser">
          <mat-autocomplete #autoUser="matAutocomplete"
            (optionSelected)="selectedUser($event.option.value, trigger, autoUser)">
            <mat-option style="text-align: center;background-color: yellowgreen;" *ngIf="isLoading" class="is-loading">
              <i style="text-align: center;" class="fa fa-spinner fa-spin"></i>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option style="background-color: yellowgreen;" *ngFor="let user of filteredUsers;" [value]=user>
                {{user.name}} {{user.surname}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </div>
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="teamWithUsers.users"
            class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="user-table">
                <span style="text-transform: capitalize;">
                  Name
                </span>
              </th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="surname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="surname" class="user-table">
                <span style="text-transform: capitalize;">
                  Surname
                </span>
              </th>
              <td mat-cell *matCellDef="let element" class="user-table">{{element.surname}}</td>
            </ng-container>
            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef class="user-table">
                Login
              </th>
              <td mat-cell *matCellDef="let element" class="user-table">
                  {{element.login}}
              </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef class="user-table">
                  Team Role
              </th>
              <td mat-cell *matCellDef="let element; let i = index" class="user-table flex-row" style="width: max-content;">
                <ng-container *ngIf="editRoleIndex!=i">
                  {{element.role.replace("_"," ")}}
                  <mat-icon [inline]=true class="editable showable" (click)="startEditRole(i)">
                    edit
                  </mat-icon>
                </ng-container>
                <ng-container *ngIf="editRoleIndex==i">
                  <mat-form-field style="width: 4rem;">
                    <mat-label class="basic">Roles</mat-label>
                    <mat-select [formControl]="roles"  panelClass="custom-mat-select">
                      <mat-select-trigger class="basic">
                        {{roles.value ? roles.value.replace("_"," ") : ''}}
                      </mat-select-trigger>
                      <mat-option *ngFor="let role of teamRoles" [value]="role" class="basic">
                        {{role.replace("_"," ")}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-icon [inline]=true class="editable" (click)="saveEditRole()">
                    done
                  </mat-icon>
                  <mat-icon [inline]=true class="editable" (click)="cancelEditRole()">
                    cancel
                  </mat-icon>
                </ng-container>

              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
              </th>
              <td mat-cell *matCellDef="let element;" style="text-align: end; width: fit-content;">
                <mat-icon (click)="deleteUser(element.login)">delete_forever</mat-icon>
                <mat-icon  (click)="forward(element.login)">
                  forward
                </mat-icon>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef=columnsToDisplay></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="element-row"></tr>
          </table>
      </div>
    </div>
  </div>
  <mat-chip-list></mat-chip-list>
</div>
