<div class="container">
  <div style="display: flex; flex-direction: row;">
    <h5 style="width: fit-content; padding-left: 0.5rem;">
      {{teamWithUsers.title}}
    </h5>
    <div class="editable" *ngIf="!editMode" style="display: flex; flex-direction: column;">
      <mat-icon (click)="beginEditing()">
        edit
      </mat-icon>
    </div>
    <div class="editable" *ngIf="editMode" style="display: flex; flex-direction: column;">
      <mat-icon class="editable" (click)="saveEditing()">
        done
      </mat-icon>
      <mat-icon class="editable" (click)="cancelEditing()">
        cancel
      </mat-icon>
    </div>
  </div>
  <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap-reverse;">
    <div style="display: flex; flex-direction: column;padding-left: 0.5rem;flex-grow: 1; ">
      <textarea class="description" [(ngModel)]="teamWithUsers.description" disabled></textarea>
      <div style="margin-top: 1rem;">
        <div style="text-align: center;">
          INFO
        </div>
        <div>
          Created By: <mat-chip *ngIf=teamWithUsers.createdBy>{{teamWithUsers.createdBy}}</mat-chip>
        </div>
        <div>
          Creation Date: <mat-chip *ngIf=teamWithUsers.creationDate>{{teamWithUsers.creationDate | date: 'MMMM d, y' }}
          </mat-chip>
        </div>
        <div>
          Modified By: <mat-chip *ngIf=teamWithUsers.modifiedBy>{{teamWithUsers.modifiedBy}}</mat-chip>
        </div>
        <div>
          Modification Date: <mat-chip *ngIf=teamWithUsers.modificationDate>
            {{teamWithUsers.modificationDate | date: 'MMMM d, y' }}</mat-chip>
        </div>
      </div>
    </div>
    <div style="flex-grow: 1; padding-left: 0.5rem; padding-bottom: 0.5rem;">
      <div style="display: flex; flex-direction: column;">
        <div style="text-align: center;">
          ADD USER
        </div>
        <div>
          <input class="user-search" #trigger="matAutocompleteTrigger" [formControl]="userFormControl"
            [matAutocomplete]="autoUser">
          <mat-autocomplete #autoUser="matAutocomplete"
            (optionSelected)="selectedUser($event.option.value, trigger, autoUser)">
            <mat-option style="text-align: center;background-color: yellowgreen;" *ngIf="isLoading" class="is-loading">
              <i style="text-align: center;" class="fa fa-spinner fa-spin"></i>
            </mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option style="background-color: yellowgreen;" *ngFor="let user of filteredUsers" [value]=user>
                {{user.name}} {{user.surname}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </div>
          <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="teamWithUsers.users"
            class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="name" class="user-table">
                <span style="text-transform: capitalize;">
                  Name
                </span>
              </th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="surname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="surname" class="user-table">
                <span style="text-transform: capitalize;">
                  Surname
                </span>
              </th>
              <td mat-cell *matCellDef="let element" class="user-table">{{element.surname}}</td>
            </ng-container>
            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef class="user-table">
                Login
              </th>
              <td mat-cell *matCellDef="let element" class="user-table">
                  {{element.login}}
              </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef class="user-table">
                  Team Role
              </th>
              <td mat-cell *matCellDef="let element" class="user-table">
                {{element.role}}
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>
              </th>
              <td mat-cell *matCellDef="let element" style="text-align: end;">
                <mat-icon (click)="deleteUser(element.login)">delete_forever</mat-icon>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef=columnsToDisplay></tr>
            <tr mat-row (click)="forward(element.login)" *matRowDef="let element; columns: columnsToDisplay;"
              class="element-row"></tr>
          </table>
      </div>
    </div>
  </div>
  <mat-chip-list></mat-chip-list>
  <!-- <div *ngIf="editMode">
    <h5 contenteditable="true" [(textContent)]="teamWithUsers.title"
      (input)="teamWithUsers.title.title = $event.target.innerText">
    </h5>
    <div>
      <textarea class="description" [(ngModel)]="teamWithUsers.description"></textarea>
    </div>
  </div> -->
</div>
