.container {
  padding: 0.5rem 0;
  font-size: 2vh;
  min-width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editable-input {
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

.title {
  width: fit-content;
  padding-left: 0.5rem;
}

.showable {
  color: #222;
}

.showable:hover {
  color: ghostwhite;
}

textarea.description {
  background-color: transparent;
  color: ghostwhite;
  border-color: black;
  min-height: 10em;
  flex-grow: 1;
  padding: 0;
}

mat-chip {
  font-size: inherit;
  padding: 0.5vh 0.5vw;
}

mat-icon:hover {
  color: greenyellow;
}

input.user-search {
  padding-top: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: ghostwhite;
  width: 100%;
}

input.user-search:focus {
  outline: none;
}

.user-table {
  margin-top: 0.5rem;
}

th.user-table {
  padding: 0.5rem;
}

td.user-table {
  padding: 0.5rem;
}

td, th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
.custom-mat-select.mat-select-panel {
  background: #222;
  color: ghostwhite;
  font-size: 1vh;
  width: fit-content;
}
.info-chip{
  margin-top: 0.2rem;
}
