<div class="menu">
  <div class="mat-elevation-z4" (click)='currentView= (currentView=="task_containers")? null:"task_containers"'>
    Task Tables
  </div>
  <div class="mat-elevation-z4" (click)='currentView= (currentView=="labels")? null:"labels"'>
    Labels
  </div>
  <div class="mat-elevation-z4" (click)='currentView= (currentView=="team_roles")? null:"team_roles"'>
    Users
  </div>
  <div class="mat-elevation-z4" (click)='currentView = (currentView=="documentation")? null:"documentation"'>
    Documentation
  </div>
</div>
<project-containers *ngIf='currentView=="task_containers"'>
</project-containers>
<project-labels *ngIf='currentView=="labels"'>
</project-labels>
<project-team-roles *ngIf='currentView=="team_roles"'>
</project-team-roles>
<project-documentation *ngIf='currentView=="documentation"'>
</project-documentation>
<project-info *ngIf='!currentView'>
</project-info>
