<div class="menu">
  <div class="mat-elevation-z4" (click)="initializeModule('ProjectContainersComponent')">
    Task Tables
  </div>
  <div class="mat-elevation-z4" (click)="initializeModule('ProjectLabelsComponent')">
    Labels
  </div>
  <div class="mat-elevation-z4" (click)="initializeModule('ProjectUsersComponent')">
    Users
  </div>
  <div class="mat-elevation-z4" (click)="initializeModule('ProjectDocumentationComponent')">
    Documentation
  </div>
</div>
<template #projectModule></template>
