<div class="menu">
  <button mat-raised-button (click)='currentView= (currentView=="task_containers")? null:"task_containers"'>
    Task Containers
  </button>
  <button mat-raised-button (click)='currentView= (currentView=="labels")? null:"labels"'>
    Labels
  </button>
  <button mat-raised-button (click)='currentView= (currentView=="team_roles")? null:"team_roles"'>
    Users
  </button>
  <button mat-raised-button (click)='currentView = (currentView=="documentation")? null:"documentation"'>
    Documentation
  </button>
</div>
<project-containers *ngIf='currentView=="task_containers"'>
</project-containers>
<project-labels *ngIf='currentView=="labels"'>
</project-labels>
<project-team-roles *ngIf='currentView=="team_roles"'>
</project-team-roles>
<project-documentation *ngIf='currentView=="documentation"'>
</project-documentation>
<project-info *ngIf='!currentView'>
</project-info>
