<div class="task-container-wrapper">
  <div class="detailed-project-header">
    <div class="filter-header"></div>
    <span class="spacer">
    </span>
    <div class="main-project-info">
      <div *ngIf="projectTeams[0]!=null">
        <select class="team-select" (change)="updateCurrentProject($event.target.value)">
          <option *ngFor="let team of projectTeams" value="{{team.id}}">{{team.title}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="detailed-project-content">
    <div *ngIf="!this.detailedProject; else contentTable" class="no-containers-info-wrapper">
      <div class="no-containers-info">
        <h5>PLEASE ADD YOUR TEAM TO PROJECT</h5>
      </div>
    </div>
  </div>
</div>


<ng-template #contentTable>
<project-containers-basic *ngIf="this.detailedProject.type!='XP'" class="w-100"
[tipId]=this.detailedProject.teamInProjectId
[projectId]=this.detailedProject.projectId
[taskContainers]=this.detailedProject.taskContainers
[projectType]=this.detailedProject.type
[resourceUrl]=this.resourceUrl>
</project-containers-basic>
<project-containers-xp *ngIf="this.detailedProject.type=='XP'" class="w-100"
[tipId]=this.detailedProject.teamInProjectId
[projectId]=this.detailedProject.projectId
[taskContainers]=this.detailedProject.taskContainers
[projectType]=this.detailedProject.type
[resourceUrl]=this.resourceUrl>
</project-containers-xp>
</ng-template>
