.task-container-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.detailed-project-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.detailed-project-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.main-project-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 0;
}

.team-select {
  border: none;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  float: right;
  width: fit-content;
}
.team-select:focus{
  outline: none;
}

.title {
  margin-bottom: 1rem;
  text-align: right;
}

.detailed-project-content {
  width: 100%;
  height: 100%;
  display: flex;
}

.no-containers-info-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.no-containers-info {
  text-align: center;
  align-self: center;
  font-size: 10vh;
}

select {
  background-color: #222;
  color: ghostwhite;
  width: 100%;
}
