  .sidenav-container {
    height: 100vh;
    background-color: #222;
    color:ghostwhite;
  }
  .sidenav {
    width: 200px;
    height:100%;
    display: flex;
    background-color: yellowgreen;
    align-content: stretch;
  }
  .hidden {
      display: none;
  }
  .spacer{
    flex: 1 1 auto;
  }

  .sidenav .mat-toolbar {
    background: yellowgreen;
  }
  mat-toolbar {
    background-color: yellowgreen;
    min-height: 65px;
  }
  mat-toolbar div {
    display: inline-block;
    margin: 0 10px;
    border: 0px;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
    color:ghostwhite;
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  mat-nav-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex: 1;
  }

  mat-nav-list > div {
    flex: 1 1 0;
    display: flex;
    color:ghostwhite;
    text-align: center;
    background-color: #222;
    justify-content: center;
    align-items: center;
  }
 .drawer-button:hover {
    color: #222;
    cursor: pointer;
  }
  .menu-button:hover {
    color: yellowgreen;
    cursor: pointer;
  }
  .mat-drawer{
    background-color: transparent;
  }
