.additional-selection {
  opacity: 0.75;
}

.filter-container {
  overflow-x: auto;
}

.basic {
  color: ghostwhite;
  background-color: #222;
}

.custom-mat-select.mat-select-panel {
  background: #222;
  color: ghostwhite;
}

.mat-select-value-text {
  color: gray !important;
}

.mat-active {
  color: ghostwhite !important;
}

.mat-pseudo-checkbox::after {
  color: black;
}

.mat-pseudo-checkbox {
  background: lightblue;
}

.button {
  flex-grow: 1;
  margin: 0.1rem;
  padding: 0;
}
input[type="number"] {
  width: 3em;
}

.title-prop {
  text-transform: capitalize;
}

.prop-container {
  padding: 0.1rem;
  min-width: fit-content;
  text-align: center;
}

input {
  background-color: transparent;
  color: ghostwhite;
  border: none;
  border-bottom: black solid 0.1rem;
  margin: 0.1rem;
}

.filter-button {
  color: ghostwhite;
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.2rem;
  margin-bottom: 0.5rem;
}
