<div class="flex-column" style="font-size: 2vh; color: ghostwhite; padding: 0.5rem; min-width: 200px;">
  <div class="flex-column">
    <mat-form-field>
      <mat-label class="basic">Filters</mat-label>
      <mat-select [formControl]="filters" multiple panelClass="custom-mat-select" class="basic">
        <mat-option (onSelectionChange)="handleRemove($event.source.value)" *ngFor="let prop of allProperties.list" [value]="prop" class="basic">{{prop.name.replace("_"," ")}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="mat-elevation-z4 filter-button" (click)="filtersApply()">
      Filter
    </button>
    <div>
    </div>
  </div>
  <div class="flex-column filter-container">
    <div *ngFor="let value of filters.value">
      <div class="title-prop">
        {{value.name.replace("_"," ")}}
      </div>
      <div *ngIf="value.type=='number'" class="prop-container">
        <div class="w-100">
          <input min="0" max="100" type="number" id="{{value.name.concat('From')}}">
          <mat-icon>
            trending_flat
          </mat-icon>
          <input min="0" max="100" type="number" id="{{value.name.concat('To')}}">
          <mat-icon  (click)="addNumber(value.name)">
            add_circle_outline
          </mat-icon>
        </div>
      </div>
      <div *ngIf="value.type=='string' || 'users'" class="prop-container">
        <mat-form-field *ngIf="value.type=='string'"  class="example-chip-list">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let propValue of propValueList[value.name]"
                     [removable]="true" (removed)="remove(propValue,value.name,'string')">
              {{propValue}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event,value.name,'string')">
          </mat-chip-list>
        </mat-form-field >
        <mat-form-field *ngIf="value.type=='users'" class="example-chip-list">
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let propValue of propUserList[value.name]"
                     [removable]="true" (removed)="remove(propValue,value.name,'user')">
              {{propValue}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event,value.name,'user')">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div *ngIf="value.type=='date'" class="prop-container">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" class="basic" (dateChange)="addDate(value.name,$event.target.value)">
          <mat-datepicker-toggle matSuffix [for]="picker" class="basic"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
