<div class="custom-dialog-container-content">
  <div class="column">
    <span mat-dialog-title>Create Team</span>
    <form id="createForm" #createForm="ngForm" (ngSubmit)="create(createForm.value)">
      <input name="title" class="form-control black-focus" required type="text" ngModel required #title="ngModel"
        placeholder="Title" />
      <div *ngIf="title.invalid && title.touched" class="home-form-alert">
        Title is required.
      </div>
      <textarea rows="4" name="description" class="form-control description-area" form="createForm"
        placeholder="Description..."></textarea>
      <i *ngIf="requestInProgress" class="fa fa-spinner fa-spin" style="font-size:24px"></i>&nbsp;&nbsp;
      <span *ngIf="requestInProgress">Loading...</span>
      Users
      <div class="added-team-container"  *ngIf="addedUsers.length == 0;else addedTeams">
        Please add at least one user
      </div>
      <ng-template #addedTeams>
      <div class="added-team-container">
        <div *ngFor="let user of addedUsers;index as i;" class="user-div">
          <div style="flex-grow: 1;">
            ID: {{user.login}}<br>
            Name: {{user.name}}<br>
            Surname: {{user.surname}}
          </div>
          Role:
          <ng-container *ngIf="i>0;else adminUserSelect;">
            <select (change)="setTypeOfAddedUser($event.target.value,user.login)">
              <option value="TEAM_BASIC">BASIC</option>
              <option value="TEAM_ADMIN">ADMINISTRATOR</option>
            </select>
            <div>
              <mat-icon (click)="removeUser(user.login)">
                remove
              </mat-icon>
            </div>
          </ng-container>
          <ng-template #adminUserSelect>
            <select disabled>
              <option value="TEAM_ADMIN">ADMINISTRATOR</option>
            </select>
          </ng-template>
        </div>
      </div>
    </ng-template>

    </form>
  </div>
  <div class="column">
    <span mat-dialog-title>Manage Users</span>
    <div class="search-panel">
      <input name="title" class="form-control black-focus search-input" (input)="filterUsers($event.target.value)"
        type="text" placeholder="Search" />
    </div>

    Users
    <div style="max-height: 30VH; overflow-y: auto;">
      <div *ngFor="let user of filteredUsers" class="user-div">
        <div>
          ID: {{user.login}}<br>
          Name: {{user.name}}<br>
          Surname: {{user.surname}}
        </div>
        <div>
          <mat-icon (click)="addUser(user.login,user.name,user.surname,user.role)">
            add
          </mat-icon>
        </div>
      </div>
    </div>

  </div>
</div>
<mat-dialog-actions>
  <div class="button-holder">
    <button mat-dialog-close class="btn btn-dark w-100">Cancel</button>
    <button form="createForm" [disabled]="createForm.invalid || requestInProgress || addedUsers.length == 0"
      *ngIf="!requestInProgress" type="submit" class="btn btn-dark w-100">Create</button>
  </div>
</mat-dialog-actions>
