.sidenav-container {
  height: 100%;
  background-color: #222;
  color:ghostwhite;
}

.sidenav {
  width: 200px;
}

.hidden {
    display: none;
}
.spacer{
  flex: 1 1 auto;
}

.sidenav .mat-toolbar {
  background: yellowgreen;
}
mat-toolbar {
  background-color: yellowgreen;
} 
mat-toolbar button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 10px;
  border: 0px;
  background-color: transparent;
  text-decoration: none;
  color:ghostwhite;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-nav-list {
  display: flex;
  flex-direction: column;
}

mat-nav-list button {
  margin: 0 10px;
  border: 0px;
  padding: 10px 10px;
  background-color: transparent;
  text-decoration: none;
  color:ghostwhite;
}
button :hover{
  background: yellowgreen;
}