<div class="container">
  <div class="task-container">
    <div style="display: flex; flex-direction: row;">
      <h5 style="width: fit-content;" *ngIf="!editMode">
        {{task.title}}
      </h5>
      <h5 *ngIf="editMode" contenteditable="true" [(textContent)]="task.title"
        (input)="task.title = $event.target.innerText">
      </h5>

      <div class="editable" *ngIf="!editMode" style="display: flex; flex-direction: column;">
        <mat-icon (click)="beginEditing()">
          edit
        </mat-icon>
      </div>
      <div class="editable" *ngIf="editMode" style="display: flex; flex-direction: column;">
        <mat-icon class="editable" (click)="saveEditing()">
          done
        </mat-icon>
        <mat-icon class="editable" (click)="cancelEditing()">
          cancel
        </mat-icon>
      </div>
    </div>
    <div style="display: flex; width: 100%; flex-direction: row;">
      <div class="simple-properties-container">
        <div>
          <span>
            Type:
          </span>
          <span>
            {{task.type}}
          </span>
        </div>
        <div>
          <span>
            State:
          </span>
          <span>
            {{task.state}}
          </span>
        </div>
        <div>
          <span>
            Majority:
          </span>
          <span *ngIf="!editMode">
            {{task.majority}}
          </span>
          <span *ngIf="editMode">
            <input class="editable-input" [(ngModel)]="tempTask.majority" type="number" min="0" max="4" />
          </span>
        </div>
        <div>
          <span>
            Complexity:
          </span>
          <span *ngIf="!editMode">
            {{task.complexity}}
          </span>
          <span *ngIf="editMode">
            <input class="editable-input" [(ngModel)]="tempTask.complexity" type="number" min="0" max="10" />
          </span>
        </div>
        <div>
          <span>
            Story Points:
          </span>
          <span *ngIf="!editMode">
            {{task.storyPoints}}
          </span>
          <span *ngIf="editMode">
            <input class="editable-input" [(ngModel)]="tempTask.storyPoints" type="number" min="0" max="100" />
          </span>
        </div>
        <div style="margin-bottom: 1rem">
          <span>
            Deadline:
          </span>
          <span *ngIf="task.deadline">
            <mat-chip style="margin-top: 5px; padding-top: 0; padding-bottom: 0;">
              {{task.deadline | date: 'yyyy-MM-dd HH:mm'}}
            </mat-chip>
          </span>
        </div>

        <div style="margin-bottom: 1rem">
          <span>
            Assigned:
            <mat-chip style="margin-top: 5px; padding-top: 0; padding-bottom: 0;" (click)="addMeAsExecutor()">Add me
            </mat-chip>
          </span>
          <div>
            <mat-form-field>
              <mat-chip-list #executorList>
                <mat-chip *ngFor='let executor of executors' [removable]="true"
                  (removed)="removeExecutor(executor.login)">
                  {{executor.login}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Executors" #executorInput [formControl]="executorsCtrl" [matAutocomplete]="autoExec"
                  [matChipInputFor]="executorList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
              </mat-chip-list>
              <mat-autocomplete #autoExec="matAutocomplete" (optionSelected)="selectedExecutor($event)">
                <mat-option style="text-align: center;background-color: yellowgreen;" *ngIf="isLoading"
                  class="is-loading">
                  <i style="text-align: center;" class="fa fa-spinner fa-spin"></i>
                </mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option style="background-color: yellowgreen;" *ngFor="let user of filteredUsers" [value]="user">
                    {{user.login}} {{user.name}} {{user.surname}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div style="margin-bottom: 1rem">
          <span>
            Labels:
          </span>
          <div *ngIf="task.labels && !editMode">
            <mat-chip-list>
              <mat-chip *ngFor='let label of task.labels.split(",")'>{{label}}</mat-chip>
            </mat-chip-list>
          </div>

          <div *ngIf="editMode">
            <mat-chip-list #labelList>
              <mat-chip *ngFor='let label of tempLabels' [removable]="true" (removed)="removeLabel(label)">
                {{label}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input #labelInput [formControl]="labelsCtrl" [matAutocomplete]="autoLabel" [matChipInputFor]="labelList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>

            <mat-autocomplete #autoLabel="matAutocomplete" (optionSelected)="selectedLabel($event)">
              <mat-option style="text-align: center;background-color: yellowgreen;" *ngIf="isLoading"
                class="is-loading">
                <i style="text-align: center;" class="fa fa-spinner fa-spin"></i>
              </mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option style="background-color: yellowgreen;" *ngFor="let label of filteredLabels"
                  [value]="label.name">
                  {{label.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </div>

        </div>

        <div style="margin-bottom: 1rem">
          <span>
            Technologies:
          </span>
          <div *ngIf="task.technologies && !editMode">
            <mat-chip-list>
              <mat-chip *ngFor='let label of task.technologies.split(",")'>{{label}}</mat-chip>
            </mat-chip-list>
          </div>

          <div *ngIf="editMode">
            <mat-chip-list #techList>
              <mat-chip *ngFor='let label of tempTechnologies' [removable]="true" (removed)="removeTechLabel(label)">
                {{label}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input #labelInput [formControl]="techLabelsCtrl" [matAutocomplete]="autoLabel"
                [matChipInputFor]="techList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            </mat-chip-list>

            <mat-autocomplete #autoLabel="matAutocomplete" (optionSelected)="selectedTechLabel($event)">
              <mat-option style="text-align: center;background-color: yellowgreen;" *ngIf="isLoading"
                class="is-loading">
                <i style="text-align: center;" class="fa fa-spinner fa-spin"></i>
              </mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option style="background-color: yellowgreen;" *ngFor="let label of filteredTechLabels"
                  [value]="label.name">
                  {{label.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </div>
        </div>

      </div>

      <div class="simple-properties-container">
        <div style="display: flex;">
          <mat-icon [inline]=true [ngStyle]="isLiker && {'color': 'yellowgreen'}" (click)="handleLike()">thumb_up
          </mat-icon>
          &nbsp;
          <mat-icon [inline]=true [ngStyle]="isDisliker && {'color': 'red'}" (click)="handleDislike()">thumb_down
          </mat-icon>
          <span>
            &nbsp;&nbsp;{{task.likes}}
          </span>

        </div>
        <div style="display: flex;">
          <mat-icon [inline]=true [ngStyle]="isObserver && {'color': 'yellowgreen'}" (click)="handleObserving()">
            remove_red_eye</mat-icon>
          <span>
            &nbsp;&nbsp;{{observers}}
          </span>
        </div>
        <div>
          Modified by: <mat-chip style="margin-top: 5px; padding-top: 0; padding-bottom: 0;">{{task.modifiedBy}}
          </mat-chip>
        </div>
        <div>
          Created by: <mat-chip style="margin-top: 5px; padding-top: 0; padding-bottom: 0;"> {{task.createdBy}}
          </mat-chip>
        </div>
        <div>
          Modification date:
          <mat-chip style="margin-top: 5px; padding-top: 0; padding-bottom: 0;">
            {{task.modificationDate | date: 'yyyy-MM-dd HH:mm'}}
          </mat-chip>
        </div>
        <div>
          Creation date:
          <mat-chip style="margin-top: 5px; padding-top: 0; padding-bottom: 0;">
            {{task.creationDate | date: 'yyyy-MM-dd HH:mm'}}
          </mat-chip>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 1rem">
      <span>
        Description:
      </span>
      <div>
        <textarea class="description" *ngIf="!editMode" [(ngModel)]="task.description" disabled></textarea>
        <textarea class="description" *ngIf="editMode" [(ngModel)]="tempTask.description"></textarea>
      </div>
    </div>

    <div style="margin-bottom: 1rem">
      <span>
        Steps:
      </span>
      <mat-icon [inline]=true style="text-align: center;" (click)="addStep()" *ngIf="editMode">
        add_circle_outline
      </mat-icon>
      <div *ngIf="!editMode">
        <div class="example-list">
          <div class="example-box" *ngFor="let step of task.steps">
            <span>
              {{step.order}}
            </span>
            <span>
              {{step.description}}
            </span>
            <span>
              <mat-icon *ngIf="step.done" (click)="step.done=false">
                close
              </mat-icon>
              <mat-icon *ngIf="!step.done" (click)="step.done=true">
                check
              </mat-icon>
            </span>
          </div>
        </div>
      </div>
      <div *ngIf="editMode">
        <div cdkDropList class="example-list" (cdkDropListDropped)="reorderSteps($event)">
          <div class="example-box" *ngFor="let step of tempTask.steps" cdkDrag>
            <span>
              {{step.order}}
            </span>
            <input class="editable-input" style="text-align: center;" type="text" [(ngModel)]="step.description"/>
            <mat-icon (click)="removeStep(step.order)">
              delete_forever
            </mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div style="margin-bottom: 1rem">
        <span>
          Solution:
        </span>
        <form #solutionForm="ngForm" (ngSubmit)="addSolution(solutionForm.value.solution)">
          <div>
            <textarea name="solution" [ngModel]=task.solution #solution="ngModel" class="description" required>
              </textarea>
          </div>
        <button [disabled]="solutionForm.invalid  || task.solution == solutionForm.value.solution"  type="submit" class="btn btn-dark w-100 submit-solution">Submit</button>
        </form>
      </div>
    </div>

  </div>

</div>
