<div class="container">
  <div class="task-container">
    <h5>
      {{task.title}}
    </h5>
    <div style="display: flex; width: 100%; flex-direction: row;">
      <div class="simple-properties-container">
        <div>
          <span>
            Type:
          </span>
          <span>
            {{task.type}}
          </span>
        </div>
        <div>
          <span>
            State:
          </span>
          <span>
            {{task.state}}
          </span>
        </div>
        <div>
          <span>
            Majority:
          </span>
          <span>
            {{task.majority}}
          </span>
        </div>
        <div>
          <span>
            Complexity:
          </span>
          <span>
            {{task.complexity}}
          </span>
        </div>
        <div style="margin-bottom: 1rem">
          <span>
            Story Points:
          </span>
          <span>
            {{task.storyPoints}}
          </span>
        </div>
        <div style="margin-bottom: 1rem">
          <span>
            Deadline:
          </span>
          <span>
            {{task.deadline | date: 'yyyy-MM-dd HH:mm'}}
          </span>
        </div>

        <div style="margin-bottom: 1rem">
          <span>
            Labels:
          </span>
          <div>
            <mat-chip-list>
              <mat-chip *ngFor='let label of task.labels.split(",")'>{{label}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div style="margin-bottom: 1rem">
          <span>
            Technologies:
          </span>
          <div>
            <mat-chip-list>
              <mat-chip *ngFor='let label of task.technologies.split(",")'>{{label}}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <div class="simple-properties-container">
        <div style="display: flex;">
         <mat-icon [inline]=true>thumb_up</mat-icon>&nbsp;<mat-icon [inline]=true>thumb_down</mat-icon>
         <span>
          &nbsp;&nbsp;{{task.likes}}
         </span>

        </div>
        <div>
          Observers
        </div>
        <div>
          Assigned
        </div>
        <div>
          Created by:{{task.createdBy}}
        </div>
        <div>
          Creation date: {{task.creationDate | date: 'yyyy-MM-dd HH:mm'}}
        </div>
      </div>
    </div>
    <div style="margin-bottom: 1rem">
      <span>
        Description:
      </span>
      <div>
        <textarea class="description" disabled="true">{{task.description}}</textarea>
      </div>
    </div>

    <div style="margin-bottom: 1rem">
      <span>
        Steps:
      </span>
      <div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="reorderSteps($event)">
          <div class="example-box" *ngFor="let step of task.steps" cdkDrag>
            <span>
              {{step.order}}
            </span>
            <span>
              {{step.description}}
            </span>
            <span>
              {{step.done}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>
        Solution:
      </span>
      <div>
        {{task.solution}}
      </div>
    </div>

  </div>

</div>
