input {
    padding: 0px;
    margin: 2px;
}
.custom-dialog-container-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 .column {
    margin: 5px;
    flex: 1 1 auto;
}

.search-panel {
    display: flex;
    padding-top: 0;
}

.search-button {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 0 10px 10px 0;
    border-color: white;
    border-width: 0;
}

.search-input {
    margin-top: 0;
    margin-right: 0;
    border-radius: 10px 0 0 10px
}

.description-area {
    padding: 0;
    font-size: 2vh;
}

.team-div {
    background-color: ghostwhite;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 2px;
    margin-bottom: 5px
}
.button-holder {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}
.button-holder > button {
    margin: 2px;
}
.button-holder > button:first-child {
  margin-left: 0;
}
.button-holder > button:last-child {
  margin-right: 0;
}
