 <div class="custom-dialog-container-content">


 <div class="column">
      <span mat-dialog-title>Create Project</span>
      <form id="createForm" #createForm="ngForm" (ngSubmit)="create(createForm.value)">
        <input name="title" class="form-control black-focus" required type="text" ngModel required #title="ngModel"
          placeholder="Title" />
        <div *ngIf="title.invalid && title.touched" >
          Title is required.
        </div>
        <textarea rows="4" name="description" class="form-control description-area" form="createForm"
          placeholder="Description..."></textarea>
        <i *ngIf="requestInProgress" class="fa fa-spinner fa-spin" style="font-size:24px"></i>&nbsp;&nbsp;
        <span *ngIf="requestInProgress">Loading...</span>
        <br>


        <mat-form-field class="example-chip-list">
          <mat-chip-list #labelList aria-label="label selection">
            <mat-chip *ngFor="let label of labels" [selectable]=false [removable]=true (removed)='removeLabel(label,"LABEL")'>
              {{label.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
            placeholder="Labels"
            #labelInput
            [formControl]="labelCtrl"
            [matAutocomplete]="LabelAuto"
            [matChipInputFor]="labelList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)='addLabel($event,"LABEL")'>
          </mat-chip-list>
          <mat-autocomplete #LabelAuto="matAutocomplete" (optionSelected)='selectedLabel($event,"LABEL")'>
            <mat-option *ngFor="let label of filteredLabels | async" [value]="label.name">
              {{label.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-chip-list">
          <mat-chip-list #techLabelList aria-label="label selection">
            <mat-chip *ngFor="let label of techLabels" [selectable]=false [removable]=true (removed)='removeLabel(label,"TECHNOLOGY")'>
              {{label.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
            placeholder="Technologies"
            #labelInput
            [formControl]="labelCtrl"
            [matAutocomplete]="techLabelAuto"
            [matChipInputFor]="techLabelList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)='addLabel($event,"TECHNOLOGY")'>
          </mat-chip-list>
          <mat-autocomplete #techLabelAuto="matAutocomplete" (optionSelected)='selectedLabel($event,"TECHNOLOGY")'>
            <mat-option *ngFor="let label of filteredTechLabels | async" [value]="label.name">
              {{label.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br>
        Teams
        <div style="width: 100%; color: red; text-align: center;" *ngIf="addedTeams.length == 0">
          Please add at least one team
        </div>
        <div style="max-height: 20vh; min-height: 20vh; overflow-y: auto;">
          <div *ngFor="let team of addedTeams" class="team-div">
            <div style="flex-grow: 1;">
              ID: {{team.id}}<br>
              Name: {{team.title}}
            </div>
            <div>
              <select (change)="setTypeToProjectTeam($event.target.value,team.id)">
                <option value="KANBAN">KANBAN</option>
                <option value="SCRUM">SCRUM</option>
                <option value="XP">XP</option>
              </select>
            </div>
            <div>
              <mat-icon (click)="removeTeam(team.id)">
                remove
              </mat-icon>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="column">
      <span mat-dialog-title>Manage Teams</span>
      <div class="search-panel">
        <input name="title" class="form-control black-focus search-input" (input)="filterTeams($event.target.value)"
          type="text" placeholder="Search" />
      </div>

      Teams
      <div style="max-height: 20vh;min-height: 20vh; overflow-y: auto;">
        <div *ngFor="let team of filteredUserTeams" class="team-div">
          <div>
            ID: {{team.id}}<br>
            Name: {{team.title}}
          </div>
          <div>
            <mat-icon (click)="addTeam(team.id,team.title)">
              add
            </mat-icon>
          </div>
        </div>
      </div>

    </div>
  </div>
<mat-dialog-actions>
  <div class="button-holder">
    <button mat-dialog-close class="btn btn-dark w-100">Cancel</button>
    <button form="createForm" [disabled]="createForm.invalid || requestInProgress || addedTeams.length == 0"
      *ngIf="!requestInProgress" type="submit" class="btn btn-dark w-100">Create</button>

  </div>
</mat-dialog-actions>
