@import 'basic-mat-style.css';
html {
  color: ghostwhite;
  background-color: #222;
  margin: 0;
  font-size: 3vh;
}

body {
  height: 100%;
}

.delete-column-container-dialog-container {
  min-width: 220px;
  background-color: yellowgreen;
  font-size: 1vw;
  display: flex;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.custom-dialog-container .mat-dialog-container {
  background-color: yellowgreen;
  font-size: 2vh;
}

.delete-column-mat-dialog-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.delete-column-mat-dialog-actions>button {
  flex: 1 1 auto;
  padding: 1vw 1vh;
}


mat-icon:hover {
  cursor: pointer;
}
