html {
    color:ghostwhite;
    background-color: #222;
    margin: 0;
    font-size: 3vh;
  }
body{
  height: 100%;
}
.cdk-global-overlay-wrapper {
  position: absolute;
  top: 25%;
  z-index: 1000;
  width: 100%;
  display: flex;
}

.delete-column-container-dialog-container {
  min-width: 220px;
  background-color: yellowgreen;
  font-size: 1vw;
  display: flex;
  width: 50vw;
  align-self: center;
  justify-self: center;
}
.delete-column-mat-dialog-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.delete-column-mat-dialog-actions > button {
flex: 1 1 auto;
padding: 1vw 1vh;
}