@import 'basic-mat-style.css';
html {
  color: ghostwhite;
  background-color: #222;
  margin: 0;
}

body {
  height: 100%;
}

body * {
  font-size: 2vh;
}

.basic-colors{
  background-color: #222;
  color: ghostwhite;
}

.custom-modalbox {
  min-width: 50vh;
  text-align: center;
}

.delete-column-container-dialog-container {
  min-width: 220px;
  background-color: yellowgreen;
  display: flex;
  width: 50vw;
  align-self: center;
  justify-self: center;
}

.custom-dialog-container .mat-dialog-container {
  background-color: #222;
  color: ghostwhite;
}

.delete-column-mat-dialog-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.delete-column-mat-dialog-actions>button {
  flex: 1 1 auto;
  padding: 1vw 1vh;
}

mat-icon:hover {
  color: yellowgreen;
  cursor: pointer;
}
.editable:hover {
  cursor: pointer;
}
.deletable:hover {
  color:red;
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 4px;
}
