input {
  padding-top: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: ghostwhite;
  width: 100%;
}

input:focus {
  outline: none;
}
.button {
  flex-grow: 1;
  margin: 0.1rem;
  padding: 0;
}
